
@{
    ViewData["Title"] = "Halaman Admin";
}

<h1>Selamat Datang Di Halaman Admin</h1>

<p>
    Buat Admin Baru
    <a asp-action="Create">Create Admin</a>
</p>

<h3>Silahkan Login</h3>
<form asp-action="Login">
    <input name="email" />
    <input name="password" />
    <button type="submit">Login</button>
</form>






